/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  margin-right: 4px;
}

body {
  color: rgba(255, 255, 255, 0.9);
  font-family: UbuntuMono Nerd Font;
  font-size: 18px;
  overflow: hidden;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  /*border-bottom: 1px solid rgb(255 255 255 / 5%); */
  /*background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));*/
  /*background: linear-gradient(rgb(33, 33, 33), rgb(49, 49, 49));*/
  --bgcolor1: $bar_subsection  /* this is the main color applied to bar background*/
  --bgcolor2: $inactive_workspace_bg  /* this is the color applied to inside of inactive workspaces*/
  --bgcolor3: $active_workspace_bg  /* this is the color applied to inside of active workspaces*/
  --bordercolor1: $inactive_workspace_border  /* this is the color applied to the borders of inactive workspaces*/
  --bordercolor2: $active_workspace_border  /* this is the color applied to the borders of active workspaces*/
  --text-color: $text_color
  --barcolor: rgba(0, 0, 0, 0.234); /* the color applied to the general bar*/
  --colname: rgb(243, 151, 108);  /* this is a placeholder*/
  color: var(--text-color);
  background: var(--barcolor);
  border-radius: 16px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0px 1vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
  background-color: var(--bgcolor1);
  height: 90%;
  padding-right: 10px;
  padding-left: 10px;
}

.right {
  justify-self: end;
  background-color: var(--bgcolor1);
  border-radius: 10px;
  height: 90%;
  padding-right: 10px;
  padding-left: 10px;
}

.center{
  border-radius: 10px;
  height: 90%;
}

.no-background {
  background-color: rgb(0, 0, 0, 0);
}

.left {
  background-color: rgb(0, 0, 0, 0);
  height: 90%;
}
.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

@keyframes fadeIn { /* Added keyframes for the fade-in effect */
  from {
    opacity: 0; /* Start invisible */
    width: 1px;
    transform: scale(0.9); /* Slightly smaller */
  }
  to {
    opacity: 1; /* Fully visible */
    width: 35px;
    transform: scale(1); /* Full size */
  }
}

@keyframes focusWorkspace {
  from {
    width: 30px;
  }
  to {
    width: 60px;
  }
}

.workspaces {
  background-color: var(--bgcolor1);
  margin: 0px;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  transition: all 1s ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
}

.workspace {
  background: var(--bgcolor2);
  width: 30px;
  height: 30px;
  margin-right: 6px;
  color: var(--textcolor1);
  border-color: var(--bordercolor1);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.7s ease;
  transition: width 0.4s ease;
  

  &.displayed {
    /*background: rgb(255 255 255 / 15%);*/
    background: rgb(255, 24, 24);
  }

  &:hover {
    background: var(--bgcolor3);
  }

  &.focused {
    border-radius: 16px;
    background: var(--text-color);
    width: 35px;
    border-color: var(--bgcolor2);
    color: var(--bgcolor2);
  }
}

.workspace.fade-in {
  animation: fadeIn 0.25s ease;
}

.workspace:last-child {
  margin-right: 0px;
}

.binding-mode,
.tiling-direction {
  background: var(--bgcolor1);
  color: var(--textcolor1);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  text-align: center;
  padding-top: 6px; /* quick hack */
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
